<<<<<<< HEAD
<form action="/delete" method="GET">
    <button type="submit">Delete all users</button>
=======
<form action="/delete" method="GET">
    <button type="submit">Delete all users</button>
>>>>>>> c42bfc99ee7efe1e70d39641aa79fa9b2539c205
</form>