<<<<<<< HEAD
<form class="form-inline" action="/login_auth" method="POST">
    <div class="form-group mb-2">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Log In</button>
</form>

<% if (typeof errormsg !== 'undefined') { %>
  <p class="error"><%= errormsg %></p>
=======
<form class="form-inline" action="/login_auth" method="POST">
    <div class="form-group mb-2">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Log In</button>
</form>

<% if (typeof errormsg !== 'undefined') { %>
  <p class="error"><%= errormsg %></p>
>>>>>>> c42bfc99ee7efe1e70d39641aa79fa9b2539c205
<% } %>